@model Roleplay.ViewModels.CreateCharacterViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h2>Character</h2>
<hr />

        <form class="container col-md-6" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Character.CharacterID" />
            <div class="form-group">
                <label asp-for="Character.PlayerID" class="control-label"></label>
                <select  asp-for="Character.PlayerID" class="form-control" asp-items="Model.Players"></select>
                <span asp-validation-for="Character.PlayerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.CharacterClassID" class="control-label"></label>
                <input asp-for="Character.CharacterClassID" class="form-control" />
                <span asp-validation-for="Character.CharacterClassID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.CharacterName" class="control-label"></label>
                <input required asp-for="Character.CharacterName" class="form-control" />
                <span asp-validation-for="Character.CharacterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.CharacterGender" class="control-label"></label>
                <input asp-for="Character.CharacterGender" class="form-control" />
                <span asp-validation-for="Character.CharacterGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.CharacterDescription" class="control-label"></label>
                <textarea rows="5" required asp-for="Character.CharacterDescription" class="form-control"></textarea>
                <span asp-validation-for="Character.CharacterDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.CharacterAge" class="control-label"></label>
                <input required asp-for="Character.CharacterAge" class="form-control" />
                <span asp-validation-for="Character.CharacterAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.FavouriteWeapon" class="control-label"></label>
                <input required asp-for="Character.FavouriteWeapon" class="form-control" />
                <span asp-validation-for="Character.FavouriteWeapon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.HomeTown" class="control-label"></label>
                <input asp-for="Character.HomeTown" class="form-control" />
                <span asp-validation-for="Character.HomeTown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
