@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h1 class="display-4">Welcome</h1>
    <h2></h2>

    <p><img class="img-thumbnail" src="~/images/library.png" width="500" height="250" /></p>
    <p>Image by <a href="https://pixabay.com/users/starglade-768093/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4109212">Colleen O'Dell</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4109212">Pixabay</a></p>
    <p><a class="btn btn-secondary" href="~/Identity/Account/Login">Login</a></p>
</div>
