@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2></h2>
    <p><a class="btn btn-secondary" href="~/Identity/Account/Login">Login</a></p>
    <p>No account? <a href="~/Identity/Account/Register">Register here</a></p>
    <i class="fas fa-fist-raised fa-5x"></i>
</div>
