
@{
    ViewData["Title"] = "Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>The rules</h1>
<p></p>
<div class="jumbotron">
    <p class="lead">To perform a skillcheck we use dice.</p>

    <p>Roll a D10 and D100.</p>
    <p>The gamemaster will set a difficulty value on the task between 1 and 100.</p>
    <p>
        As a guideline we use the following basics:<br />
        To pass the test the player has to roll lower than the difficulty value set by the gamemaster.
    </p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">Easy: 0-75</li>
        <li class="list-group-item list-group-item-warning">Hard: 0-45</li>
        <li class="list-group-item list-group-item-danger">Expert: 0-20</li>
    </ul>
    <p>
        <img class="img-fluid" src="~/images/Dice.jpg" />
    <p>
    Example:<br />
    A player tries to climb onto a statue.
    Because of old age the statue is covered in patches of moss.
    Due to the rain that is currently falling the gamemaster decides this is a hard task. He gives it a difficulty value of 45.
    The player rolls both dice and gets a value of 63. Because his roll is higher than the set diffficutly value, the players fails at the task.
    The gamemaster explains : "U try to climb the slippery statue but your halfway to the top when you lose grip and fall down!"
    </p>
    <hr class="my-4">
    <p class="lead">Creating a character.</p>

    <p>
        Een character maken is heel simpel. We gaan ervan uit dat een character steeds in balans start.
        Dit wil zeggen dat ieder personage 1 "grote" positieve eigenschap heeft en 1 "grote" negatieve eigenschap.
        Bijkomend mag je enkele "kleine" positieve eigenschappen toevoegen. Voor elke "kleine" goede eigenschap moet er ook een kleine negatieve tegenhanger zijn natuurlijk.
        Deze eigenschappen kunnen worden afgeleid van het soort character dat je in gedachten hebt of met het oog op waar je met die bepaalde persoon naar toe wil werken.
    </p>
    <p>
        Na elke sessie kiest zowel de speler als de GM 1 nieuwe positieve eigenschap waarin jouw character verbeterd is en 1 negatieve eigenschap waar je character mee worstelt of moeite heeft.
    </p>
    <p>
        Dit betekend dus dat je na elk avontuur/sessie 2 positieve en 2 negatieve eigenschappen bij krijgt.
        Om alles overzichtelijk te houden maken we gebruik van een soort "Upgrade" systeem.
        We kunnen er namelijk voor kiezen om 3 kleinere positieve eigenschappen om te zetten naar 1 meer betekenende/grotere eigenschap.
        Dit geld natuurlijk ook voor de negatieve eigenschappen. De keuze is dus aan jouw of je in veel kleine dingen goed wil zijn met een kleinere "beloning" op je skillcheck of juist veel kleine eigenschappen bij elkaar neemt om een significante bonus te krijgen op een check.
    </p>
    <p>
        De specifieke waarde die grote of kleine eigenschappen met zich mee brengen moeten we nog bekijken in game denk ik.
        De Gm beslist maar de speler kan natuurlijk motiveren waarom een bepaalde eigenschap inde huidige situatie nutig/voordelig kan zijn.
        Dit geldt ook voor zijn negatieve eigenschappen.
        We gaan voor een sterke roleplay en je negatieve eigenschappen uitspelen maakt dit des te interessanter!
    </p>
    <hr class="my-4">
</div>