
@{
    ViewData["Title"] = "World";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>World information</h1>
<p></p>
<div class="jumbotron">
    <img class="img-fluid" src="~/images/Map.jpg" />
    <p></p>
    <p class="lead">Het schiereiland, El Drogta </p>

    <p>
        Dit schiereiland is omringd door een aantal natuurlijke grenzen. In het noorden is er
        een enorme zandwoestijn en in alle andere windrichtingen is er de woeste zee.
    </p>
    <p>
        De zandwoestijn is onleefbaar voor vele levende dieren en organismen behalve voor
        een soort van reuzehagedissen die vaak in grote getalen de omgeving teisteren. Er
        wordt ook jacht gemaakt op deze dieren (voor eten) en soms worden ze zelfs gebruikt
        als rijdier.
        In de woestijn ontstaan er dikwijls grote zandstormen die soms in de richting van de
        bewoonde wereld trekken om daar een verwoesting aan te richten.
        In het onderste gedeelte van de woestijn leeft een grote bevolkingsgroep van mensen
        die zich verenigd hebben onder de naam van een Kalifaat. De zetel van de huidige
        heersende Kalief ligt in de hoofdstad Labbat.
    </p>
    <p>
        Aan de grenzen met de zee is er weinig leven. In de zee leven namelijk gruwelijke
        monsters die de kusten onveilig maken door tsunami’s en andere vernielingen aan te
        richten. Er is één plek waar die monsters niet bijkunnen en daar is de enige haven
        gebouwd. Deze plek noemt dan ook toepasselijk, Haven. Het is gelegen in de bergen en
        hier woont een samenleving van zeevaarders die handel drijven met de
        nederzettingen en steden in de woestijn maar ook met het eiland Gr’u. Dit is een eiland
        dat niet zo heel ver in zee ligt en waar zij met hun boten verbinding mee kunnen maken.
        Vanuit het Kalifaat is daar weinig mogelijkheid toe.
        Er zijn ook nog wat heuvels met een wat meer groen landschap op dit schiereiland.
        Hier wordt wel wat aan landbouw gedaan.
    </p>
    <hr class="my-4">
    <p class="lead">Het Eiland Gr’u</p>

    <p>
        Al vanop de kusten van het schiereiland kan je dit eiland zien.
        Het eiland is niet zo heel groot maar herbergt wel de 2de grootste bevolkingsgroep van
        de bekende wereld, de Gr’u (identiek aan de naam die aan het eiland wordt gegeven).
        5
        De Gr’u zijn 2543 jaar geleden op dit eiland komen wonen. In het begin waren ze niet zo
        talrijk maar er zijn ondertussen vele jaren verstreken waardoor het eiland veel te klein
        geworden is. Ze zijn dus op zoek naar nieuw gebied.
        De Gr’u zijn eigenlijk geen mensen. Als je ze naast een mens zou zetten zou je het
        verschil amper merken maar eigenlijk is er wel degelijk een groot verschil. Het
        allergrootste verschil is de manier waarop ze geboren worden. Mensen zijn
        zoogdieren en worden dus geboren op dezelfde manier als dat bij alle zoogdieren
        gebeurd. Er is een mannetje en een vrouwtje, die hebben geslachtsgemeenschap en in
        de baarmoeder van het vrouwtje ontstaat er een vrucht waaruit later nieuw leven
        ontstaat. De Gr’u komen uit een ei.
    </p>
    <p>
        Niet alle Gr’u kunnen een ei leggen. Er is een kleine kans dat er een broedmoeder of
        een broedvader geboren zal worden. Dit zijn afzichtelijke, enorme wezens die
        voornamelijk bestaan om eieren te leggen. Ze zijn doorgaans niet zo talrijk. Er zijn er 4
        van die wezens. Volgens Gr’u werd er één onschadelijk gemaakt en is er één ontvoerd
        door het Kalifaat om hen aan slaven te helpen. Het Kalifaat ontkent dit. De
        broedmoeders- en vaders staan momenteel onder heel strenge bewaking.
    </p>
    <p>
        De Gr’u overstijgen de mensen wat betreft technologie. Zo zouden ze beschikken over
        een “apparaat” dat hen overvloedig voorziet van water. Ook voedsel zou geen al te
        groot probleem zijn.
    </p>
    <hr class="my-4">
</div>

