@model Roleplay.ViewModels.CreateAdventureViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h2>Adventure</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="adventure.Title" class="control-label"></label>
                <input asp-for="adventure.Title" class="form-control" />
                <span asp-validation-for="adventure.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adventure.Summary" class="control-label"></label>
                <input asp-for="adventure.Summary" class="form-control" />
                <span asp-validation-for="adventure.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adventure.MainVillain" class="control-label"></label>
                <input asp-for="adventure.MainVillain" class="form-control" />
                <span asp-validation-for="adventure.MainVillain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adventure.Genre" class="control-label"></label>
                <input asp-for="adventure.Genre" class="form-control" />
                <span asp-validation-for="adventure.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adventure.Author" class="control-label"></label>
                <input asp-for="adventure.Author" class="form-control" />
                <span asp-validation-for="adventure.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

