@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "You shall not pass!";
}


<div class="jumbotron  text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div>
        <p style="color: crimson">403</p>
        <p style="color: crimson">ACCESS DENIED</p>
        <p><img class="img-thumbnail" src="https://www.goodfreephotos.com/albums/vector-images/you-shall-not-pass-sign-with-gandalf-vector-clipart.png" width="100" height="100" /></p>
        <p><a href="https://www.goodfreephotos.com" target="_blank">credit</a></p>
    </div>
    <p class="lead">Looks like the winds of magic led you astray.</p>
    <p style="color: crimson">You do not have permission to perform this action.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/" role="button">Return Home ...</a>
</div>
