@model Roleplay.ViewModels.CreateSessionViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h2>Session</h2>
<hr />


<form class="container col-md-6" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h3>Plan the adventure</h3>
    <div class="form-group">
        <label asp-for="Session.AdventureID" class="control-label">Adventure</label>
        <select required asp-for="Session.AdventureID" class="form-control" asp-items="Model.Adventures"></select>
        <span asp-validation-for="Session.AdventureID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedSessionPlayers" class="control-label">Players</label>
        <select required asp-for="SelectedSessionPlayers" class="form-control" asp-items="Model.SessionPlayers"></select>
        <span asp-validation-for="SelectedSessionPlayers" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Session.SessionGamemaster" class="control-label">Gamemaster</label>
        <input required asp-for="Session.SessionGamemaster" class="form-control" />
        <span asp-validation-for="Session.SessionGamemaster" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Session.Date" class="control-label">Date and time</label>
        <input required asp-for="Session.Date" class="form-control" />
        <span asp-validation-for="Session.Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
