@model Roleplay.ViewModels.EditSessionViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Are you sure you want to delete this session?</h1>

<hr />
<div class="card w-100 mb-5">
    <div class="card-header text-center text-light">
        @Html.DisplayFor( s => s.Session.Adventure.Title)
    </div>
    <div class="card-body text-center">
        <p><i class="fas fa-book-reader"></i> @Html.DisplayFor(s => s.Session.SessionGamemaster) </p>
        <h5 class="card-title">@Html.DisplayFor(s => s.Session.Date)</h5>

        
            <p class="card-text">@Html.DisplayFor(s => s.Session.Recap)</p>
 
    </div>
    <div class="card-footer">
        <p><a asp-action="Index">I beg forgiveness sir, let me reconsider...</a></p>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Session.SessionID" />
    <input type="submit" value="Delete this session" class="btn btn-danger" /> 
</form>

<p></p>