@model Roleplay.ViewModels.ListSessionViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sessions</h1>

<p>
    <a asp-action="Create">Create a new Session</a>
</p>

<div class="container">
    <div class="row">
        <div class="card-deck">
            @foreach (var item in Model.Sessions)
            {
                <div class="col-sm-4">

                    <div class="card">
                        <div class="card-header text-center">
                            
                        </div>
                        <div class="card-body text-center">
                            
                            <p></p>
                            <h5 class="card-title">This is a session</h5>
                            <p class="card-text">test</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">test</li>
                            <li class="list-group-item">test</li>
                        </ul>
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@item.SessionID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SessionID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SessionID">Delete</a>
                        </div>
                    </div>

                    <p></p>
                </div>

            }
        </div>
    </div>
</div>

